<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" [fixedInViewport]="true" mode="over">
        <app-side-bar-content></app-side-bar-content>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span routerLink=''>Simple e-commerce Application</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink='cart'>
            <mat-icon [matBadge]='itemCount? itemCount: 0' matBadgePosition="after" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>